Flask~=3.0.2
setuptools~=68.2.0
pytest~=8.1.1
six~=1.16.0
mock~=5.1.0
autobahn~=19.11.2
responses~=0.25.0
requests~=2.31.0
Twisted~=24.3.0
python-dateutil~=2.9.0.post0
pytz~=2024.1
SQLAlchemy~=2.0.29
pyOpenSSL~=24.1.0
mysql-connector-python~=8.4.0
python-dotenv~=1.0.1